node_modules/
dist/
.wrangler/
.dev.vars
*.local
.DS_Store
.env
.env.local
**/.dev.vars
dev.vars-base
packages/shared/src/o-index.ts
workers/api/src/o-index.ts
workers/router/src/o-index.ts

cookies.txt
*.txt
**/*.cookies
**/*.cookie